@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700|Bitter);
html { min-height: 100%; }
body {
  background-color: #ffffff;
  color: #444444;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Calibri,Arial,sans-serif;
  font-size: 14px;
  min-height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
img { max-width: 100%; }
.w {
  margin: 0 auto;
  *zoom: 1;
}
.w:before,
.w:after {
  display: table;
  content: "";
  line-height: 0;
}
.w:after { clear: both; }

.r {
    width: 100%;
    *zoom: 1;
}
.r:before,
.r:after {
  display: table;
  line-height: 0;
  content: "";
}
.r:after { clear: both; }

.r [class*="c-"] {
    display: block;
    float: left;
    min-height: 30px;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
.r [class*="c-"]:first-child { margin-left: 0; }

@media (min-width: 769px) {
  .content .r [class*="c-"] {
    padding: 0 30px;
  }
  .r .c-2-1 {
    width: 50%;
    *width: 49.999375%;
  }
  .r .c-3-1 {
    width: 33.333333%;
  }
  .r .c-3-2 {
    width: 66.666666%;
  }
}